name: Test and Coverage

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions: {}

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0

      - name: "Set up Python"
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version-file: ".python-version"

      - name: Install the project
        run: uv sync --frozen

      - name: Run tests with coverage
        run: uv run task test_cov

      - name: Measure coverage
        id: coverage
        run: |
          report=$(uv run task test_cov | tr "\n" ";")
          echo "report=${report}" >> "$GITHUB_OUTPUT"

      - name: Upload coverage report
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: coverage-report
          path: htmlcov/

      - name: Add comment to PR
        if: github.event_name == 'pull_request'
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          COVERAGE_REPORT: ${{ steps.coverage.outputs.report }}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const allLines = process.env.COVERAGE_REPORT.split(";")
            const divider_index = allLines.findIndex(line => line.includes("coverage: platform"))
            const reportLines = allLines.slice(divider_index + 1, -5).map(line => line.split(/\s+/)).filter(line => line.length >= 4)
            reportLines.splice(1, 0, ["----", "----", "----", "----"])
            const reportTable = reportLines.map(line => `|${line.join("|")}|`).join("\n")

            const runURL = `${context.payload.repository.html_url}/actions/runs/${context.runId}`
            const downloadLink = `[Download HTML Report from Artifacts](${runURL})`

            const body = [downloadLink, reportTable].join("\n")

            await github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: body
            })
